@import 'variables';

//Screen sizes
$breakpoints-max: (
	'small': 640px,
	'medium': 1024px,
	'large': 1400px,
);

@mixin breakpoint-max($size) {
	@media (max-width: map-get($breakpoints-max, $size)) {
		@content;
	}
}

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin rainbow-text() {
	background: $rainbow-background;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	visibility: visible;
}
