$blue-color: #5acef2;
$red-color: #ff8062;
$green-color: #5be7c3;
$rainbow-background: linear-gradient(
  90deg,
  #da13e0 0%,
  #00c0ff 25%,
  #51df58 50%,
  #ffcf00 75%,
  #fc4f4f 100%
);

$primary-font: "Sansita Swashed", cursive;
$english-font: "Raleway", sans-serif;
$japanese-font: "M PLUS 1p", sans-serif;
