//Color variables
$blue-color: #5acef2;
$green-color: #5be7c3;
$red-color: #ff8062;
$orange-color: #f1b170;
$rainbow-background: linear-gradient(
	60deg,
	$blue-color 0%,
	$green-color 25%,
	$red-color 50%,
	$orange-color 75%,
	$blue-color 100%
);

//Font variables
$primary-font: 'Sansita Swashed', cursive;
$english-font: 'Raleway', sans-serif;
