* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
ul {
    list-style: none;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
  }

.nav-link{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 3px 3px #000000;
}  

#nav-bar * li:hover{
  transform: scale(1.2)
}

#header-img{
    height: auto;
    width: 25%;
    min-width: 120px;
    max-width: 200px;
    padding-left: 1%;
    padding-top: 2px;
    z-index: 1;
    position: fixed;
}

#nav-bar {  
    background: linear-gradient(90deg, rgb(15, 82, 87), rgb(59, 56, 56));
    position: fixed; 
    top: 0; 
    width: 100%; 
    padding: 18px;
  }

main {
    margin: auto 5%;
  }

h2 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
    white-space: nowrap;
}

#sign-up{
  display: inline-block;
  padding: 22vw 22vw;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  color: white;
  background: url("https://wallpaperaccess.com/full/2109482.jpg") no-repeat fixed center;
}

#flexbox{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h1{
  font-size: 70px;
  text-shadow: 4px 4px #000000;
}

h3{
  text-shadow: 2px 2px #000000;
}

#form{
  padding: 30px;
}

#email{
  padding: 8px 50px;
  font-family: 'Rubik', sans-serif;
  border-radius: 15px;
  border: rgb(15, 82, 87) solid;
}

#submit{
  margin-top: 8px;
  padding: 5px 10px;
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: bold;
  text-shadow: black 5px;
  border-radius:10px;
  cursor:pointer;
  box-shadow: 0px 0px 0px 2px rgb(15, 82, 87);
	background: linear-gradient(90deg, rgb(15, 82, 87), rgb(59, 56, 56));
	background-color: rgb(15, 82, 87);
	border:1px solid rgb(59, 56, 56);
  display:inline-block;
  width: 50%;
  }
  
  #submit:hover {
    background: linear-gradient(90deg, rgb(114, 18, 6) 5%, rgb(197, 18, 18) 100%);
    background-color: #aa1616;
    box-shadow: 0px 0px 0px 2px rgb(114, 18, 6);
  }

  main * p{
  margin: auto 15%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  padding-bottom: 10px;
  line-height: 2;
}

.h2-image{
  width: 100%;
  height: 100%;
  max-width: 60px;
}

#video{
  height: 100%;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  margin: 0 auto;
  display: block;
}

#character_list{
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(4, 150px);
  justify-content: center;
  justify-items: center;
  gap: 50px;
}

#footer{
  background: linear-gradient(90deg, rgb(15, 82, 87), rgb(59, 56, 56));
  width: 100%; 
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

#pseudo-element{
  margin-right: auto;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  visibility: hidden;
}

#footer_logo{
  width: 40%;
  max-width: 450px;
  min-width: 250px;
}

#copyright{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-style: italic;
  margin-left: auto;
}


@media (max-width: 600px){
  main * p{
    margin: auto 5%;
    line-height: 1.5;
  }

  #character_list{
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(6, 150px);
    gap: 20px;
  }

  h2 {
    font-size: 2em;
  }

  .h2-image{
    width: 100%;
    height: 100%;
    max-width: 1em;
  }

  h1{
    font-size: 3em;
  }

  #email{
    padding: 0.5em 1em;
  }
  
  #submit{
    padding: 0.5em 1em;
  }

  .nav-link{
    font-size: 0.8em;
  }

  #sign-up{
    background-attachment: initial;
  }

  #pseudo-element, #copyright{
    font-size: 0.8em;
  }

}
