@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: white;
}

html,
body {
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.671);
  padding: 0.8em;
  z-index: 2;
  @include breakpoint-max(medium) {
    padding: 0.7em;
  }
  @include breakpoint-max(small) {
    padding: 0.6em;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-link {
    text-decoration: none;
    font-family: $primary-font;
    font-size: 1.5em;
    color: white;
    @include breakpoint-max(medium) {
      font-size: 1.2em;
    }
    @include breakpoint-max(small) {
      font-size: 0.8em;
    }
  }

  li:hover {
    transform: scale(1.2);
  }
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.8em;
  background: url("media/bgImage.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #welcome-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.671);
  }
  #welcome-text {
    color: white;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.76);
    // background: $rainbow-background;
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // visibility: visible;
    font-size: 2em;
    transform: rotate(-10deg);
  }

  @include breakpoint-max(medium) {
    font-size: 1.1em;
  }
  @include breakpoint-max(small) {
    font-size: 0.6em;
  }
}

// video {
//   min-width: 100%;
//   min-height: 100%;
//   object-fit: cover;
// }

.english {
  font-family: $english-font;
}

.japanese {
  font-family: $japanese-font;
}

h2 {
  font-family: $primary-font;
  font-size: 2.5em;
  text-align: center;
  margin: 2em;
  white-space: nowrap;
  color: $blue-color;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.76);
  // background: $rainbow-background;
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // visibility: visible;
  @include breakpoint-max(medium) {
    font-size: 1.5em;
  }
  @include breakpoint-max(small) {
    font-size: 1em;
  }
}

#about {
  display: flex;
  justify-content: center;
  padding-left: 7%;

  .blurb,
  .skills {
    padding: 10%;
  }

  #language-toggle {
    padding-left: 6em;
  }

  #profile-image {
    width: 100%;
    max-height: auto;
    border-radius: 20px;
    @include breakpoint-max(medium) {
      max-width: 250px;
    }
    @include breakpoint-max(small) {
      max-width: 150px;
    }
  }

  p {
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
    @include breakpoint-max(medium) {
      font-size: 0.9em;
    }
    @include breakpoint-max(small) {
      font-size: 0.6em;
    }
  }
  .skill-list {
    font-size: 1.7em;
    list-style-position: inside;
    list-style: none;
    @include breakpoint-max(medium) {
      font-size: 1em;
    }
    @include breakpoint-max(small) {
      font-size: 0.75em;
    }
    .category {
      color: $orange-color;
      font-weight: bold;
      font-family: $primary-font;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.76);
    }
    .skill {
      font-family: $english-font;
    }
  }
}

.flip-container {
  cursor: pointer;
  perspective: 1000px;
  &.click .flipper {
    transform: rotateY(180deg);
  }
  .flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
  }
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .front {
    transform: rotateY(0deg);
  }
  .back {
    transform: rotateY(180deg);
  }
}
.flipMe {
  position: absolute;
  left: -70px;
  top: -35px;
  color: $red-color;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.76);
  @include breakpoint-max(medium) {
    left: -50px;
    top: -25px;
  }
  @include breakpoint-max(small) {
    left: -25px;
    top: -15px;
  }
}
.arrow {
  @extend .flipMe;
  left: -70px;
  top: 0px;
  font-size: 2.5em;
  @include breakpoint-max(medium) {
    left: -50px;
    font-size: 2em;
  }
  @include breakpoint-max(small) {
    left: -25px;
    font-size: 1em;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-content: center;
  padding: 10%;

  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }
  .project-tile {
    text-align: center;
  }
  .project1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .project2 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  .project3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  figure {
    img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      @include breakpoint-max(medium) {
        width: 200px;
        height: 200px;
      }
      @include breakpoint-max(small) {
        width: 120px;
        height: 120px;
      }
    }

    a {
      color: black;
      text-decoration: none;
    }

    figcaption {
      font-family: $english-font;
      font-size: 1.2em;
      @include breakpoint-max(medium) {
        font-size: 0.9em;
      }
      @include breakpoint-max(small) {
        font-size: 0.6em;
      }
    }

    .rainbow-code {
      visibility: hidden;
    }

    &:hover {
      .rainbow-code {
        background: $rainbow-background;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        visibility: visible;
      }
    }
  }
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  .contact-form {
    border: 3px dashed $green-color;
    width: 500px;
    margin-bottom: 5em;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #5c5c5c;
    @include breakpoint-max(medium) {
      width: 400px;
    }
    @include breakpoint-max(small) {
      width: 300px;
    }
    form {
      margin: 35px;
      .form-input {
        width: 100%;
        height: 3em;
        margin-bottom: 1.5em;
        padding: 5px;
        font-family: $english-font;
      }
      textarea {
        line-height: 150%;
        resize: vertical;
        font-family: $english-font;
      }
      #submit-button {
        width: 100%;
        padding: 10px;
        font-family: $english-font;
      }
      #submit-button:hover {
        background-color: rgb(255, 255, 255);
      }
      #mailto {
        text-align: center;
        font-family: $english-font;
        @include breakpoint-max(medium) {
          font-size: 0.8em;
        }
        @include breakpoint-max(small) {
          font-size: 0.6em;
        }
      }
    }
  }

  .social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 10px 30px 10px;
    border: 3px dashed $green-color;
    box-shadow: 0px 4px 10px #5c5c5c;
    @include breakpoint-max(medium) {
      font-size: 0.8em;
    }
    @include breakpoint-max(small) {
      font-size: 0.7em;
    }

    i {
      padding: 10px;
      text-shadow: 0px 6px 10px rgba(122, 122, 122, 0.692);
      transition: all ease-in-out 150ms;
    }

    a:nth-child(1) {
      color: #1da1f2;
    }
    a:nth-child(2) {
      color: rgb(32, 243, 127);
    }
    a:nth-child(3) {
      color: rgb(247, 82, 82);
    }

    i:hover {
      margin-top: -3px;
      text-shadow: 0px 14px 10px rgba(92, 90, 90, 0.76);
    }
  }
}

#arrow-up {
  position: absolute;
  right: 0;
  font-size: 3rem;
}
