* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: white;
}

html,
body {
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.671);
  padding: 0.8em;
  z-index: 2;
}

@media (max-width: 1024px) {
  #navbar {
    padding: 0.7em;
  }
}

@media (max-width: 640px) {
  #navbar {
    padding: 0.6em;
  }
}

#navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navbar .nav-link {
  text-decoration: none;
  font-family: "Sansita Swashed", cursive;
  font-size: 1.5em;
  color: white;
}

@media (max-width: 1024px) {
  #navbar .nav-link {
    font-size: 1.2em;
  }
}

@media (max-width: 640px) {
  #navbar .nav-link {
    font-size: 0.8em;
  }
}

#navbar li:hover .rainbow-code {
  background: linear-gradient(60deg, #5acef2 0%, #5be7c3 25%, #ff8062 50%, #f1b170 75%, #5acef2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: visible;
}

#navbar .rainbow-code {
  display: inline-block;
  visibility: hidden;
}

#welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.8em;
  background: url("media/bgImage.png") no-repeat;
  background-size: cover;
}

#welcome-section #welcome-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.671);
}

#welcome-section #welcome-text {
  color: white;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.76);
  font-size: 2em;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

@media (max-width: 1024px) {
  #welcome-section {
    font-size: 1.1em;
  }
}

@media (max-width: 640px) {
  #welcome-section {
    font-size: 0.6em;
  }
}

.english {
  font-family: "Raleway", sans-serif;
}

.japanese {
  font-family: "M PLUS 1p", sans-serif;
}

h2 {
  font-family: "Sansita Swashed", cursive;
  font-size: 2.5em;
  text-align: center;
  margin: 2em;
  white-space: nowrap;
  color: #5acef2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.76);
}

@media (max-width: 1024px) {
  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 640px) {
  h2 {
    font-size: 1em;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

#about .fa-reply {
  position: absolute;
  top: 300px;
  right: 170px;
  -webkit-transform: rotatex(180deg);
          transform: rotatex(180deg);
}

#about .fa-share {
  position: absolute;
  top: -160px;
  right: 170px;
}

@media (max-width: 1024px) {
  #about .fa-share {
    position: absolute;
    top: -50px;
    left: -10px;
  }
  #about .fa-reply {
    position: absolute;
    top: 180px;
    left: 350px;
    -webkit-transform: rotatex(180deg);
            transform: rotatex(180deg);
  }
}

@media (max-width: 640px) {
  #about .fa-share {
    position: absolute;
    top: -40px;
    left: -10px;
  }
  #about .fa-reply {
    position: absolute;
    top: 140px;
    left: 280px;
    -webkit-transform: rotatex(180deg);
            transform: rotatex(180deg);
  }
}

#about .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

@media (max-width: 1024px) {
  #about .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
    margin-top: 1em;
  }
}

@media (max-width: 640px) {
  #about .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.8rem;
  }
}

#about .flex-container .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#about .flex-container .flip-container,
#about .flex-container .front,
#about .flex-container .back {
  width: 28em;
  height: 26em;
  margin-top: 3em;
  padding: 2em;
}

#about .flex-container .flipper {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

#about .flex-container .flipper .front,
#about .flex-container .flipper .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#about .flex-container .flipper .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

#about .flex-container .flipper .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (max-width: 1024px) {
  #about .flex-container .flipper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  #about .flex-container .flipper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.8rem;
  }
}

#about .flex-container .image-container {
  width: 300px;
  height: auto;
}

@media (max-width: 1024px) {
  #about .flex-container .image-container {
    width: 300px;
  }
}

@media (max-width: 640px) {
  #about .flex-container .image-container {
    width: 240px;
  }
}

#about .flex-container .image-container #profile-image {
  width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

#about .flex-container p {
  text-align: justify;
  padding: 1em;
  font-size: 1.2em;
}

#about .flex-container .skill-list {
  list-style-position: inside;
  list-style: none;
  margin: 1rem;
}

#about .flex-container .skill-list h2 {
  position: absolute;
  top: -200px;
  left: 150px;
  margin: 0;
}

#about .flex-container .skill-list .category {
  color: #f1b170;
  font-weight: bold;
  font-family: "Sansita Swashed", cursive;
}

#about .flex-container .skill-list .skill {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 1024px) {
  #about .flex-container .skill-list {
    font-size: 1.1em;
  }
}

@media (max-width: 640px) {
  #about .flex-container .skill-list {
    font-size: 1em;
  }
  #about .flex-container .skill-list h2 {
    top: -130px;
  }
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  place-content: center;
  padding: 10%;
}

#projects .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .project-tile {
  text-align: center;
}

#projects .project1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

#projects .project2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

#projects .project3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

#projects figure {
  font-family: "Raleway", sans-serif;
  font-size: 1.7em;
}

@media (max-width: 1024px) {
  #projects figure {
    font-size: 1em;
  }
}

@media (max-width: 640px) {
  #projects figure {
    font-size: 0.75em;
  }
}

#projects figure img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

@media (max-width: 1024px) {
  #projects figure img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 640px) {
  #projects figure img {
    width: 120px;
    height: 120px;
  }
}

#projects figure figcaption a {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#ff8062), color-stop(50%, #5be7c3), color-stop(50%, black));
  background: linear-gradient(to right, #ff8062, #5be7c3 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

#projects figure img:hover figcaption a, #projects figure:hover figcaption a {
  background-position: 0 100%;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

#contact .contact-form {
  border: 3px dashed #5be7c3;
  width: 500px;
  margin-bottom: 5em;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 10px #5c5c5c;
          box-shadow: 0px 4px 10px #5c5c5c;
}

@media (max-width: 1024px) {
  #contact .contact-form {
    width: 400px;
  }
}

@media (max-width: 640px) {
  #contact .contact-form {
    width: 300px;
  }
}

#contact .contact-form form {
  margin: 35px;
}

#contact .contact-form form .form-input {
  width: 100%;
  height: 3em;
  margin-bottom: 1.5em;
  padding: 5px;
  font-family: "Raleway", sans-serif;
}

#contact .contact-form form textarea {
  line-height: 150%;
  resize: vertical;
  font-family: "Raleway", sans-serif;
}

#contact .contact-form form #submit-button {
  width: 100%;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

#contact .contact-form form #submit-button:hover {
  background-color: white;
}

#contact .contact-form form #mailto {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 1024px) {
  #contact .contact-form form #mailto {
    font-size: 0.8em;
  }
}

@media (max-width: 640px) {
  #contact .contact-form form #mailto {
    font-size: 0.6em;
  }
}

#contact .social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 10px 30px 10px;
  border: 3px dashed #5be7c3;
  -webkit-box-shadow: 0px 4px 10px #5c5c5c;
          box-shadow: 0px 4px 10px #5c5c5c;
}

@media (max-width: 1024px) {
  #contact .social-media-icons {
    font-size: 0.8em;
  }
}

@media (max-width: 640px) {
  #contact .social-media-icons {
    font-size: 0.7em;
  }
}

#contact .social-media-icons i {
  padding: 10px;
  text-shadow: 0px 6px 10px rgba(122, 122, 122, 0.692);
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

#contact .social-media-icons a:nth-child(1) {
  color: #1da1f2;
}

#contact .social-media-icons a:nth-child(2) {
  color: #20f37f;
}

#contact .social-media-icons a:nth-child(3) {
  color: #f75252;
}

#contact .social-media-icons i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(92, 90, 90, 0.76);
}

#arrow-up {
  position: absolute;
  right: 0;
  font-size: 3rem;
}
/*# sourceMappingURL=personal_portfolio.css.map */